.cube {

  &__box {
    //height: 90vh;
  }

  &__prlx {
    width: 60vh;
    //width: 44vw;
    margin: 0 auto;
    position: relative;
    transform: translateY(var(--ty));
    will-change: transform;
    transition: all .1s;

    &-img {
      filter: drop-shadow(0 12px 7px rgba($color-blue-dark,.7)); 
    }

    &--pink {
       z-index: 3;
    }

    &--fandango {
      margin-top: -32vh;
      //margin-top: -23.5vw;
      z-index: 2;
    }

    &--grape {
      margin-top: -32vh;
      //margin-top: -23.5vw;
      z-index: 1;
    }
    
  }

}