.cube {

  &__box {
    font-size: 1vh;

    @include tab-port {
      font-size: .8vw;
    }

    @include phone-land {
      font-size: 1vw;
    }

    @include phone-port {
      font-size: 1.1vw;
    }
  }

  &__prlx {
    width: 60em;
    margin: 0 auto;
    position: relative;
    transform: translateY(var(--ty));
    will-change: transform;
    transition: all .1s;

    &-img {
      filter: drop-shadow(0 12px 7px rgba($color-blue-dark,.5)); 
    }

    &--green {
       z-index: 3;
    }

    &--yellow {
      margin-top: -32em;
      z-index: 2;
    }

    &--blue {
      margin-top: -32em;
      z-index: 1;
    }
    
  }

}