.laptop {

  &__box {
    display: flex;
    justify-content: center;
    width: 76%;
    height: 74vh;
    margin: 0 auto;
    padding-top: 8em;
    position: relative;
    z-index: 10;
  }

  &__prlx {
    transform: translate(var(--tx), var(--ty));
    opacity: var(--opacity);
    will-change: transform, opacity;
    transition: all .1s;

    &--device {
      position: relative;
      width: 75vh;
    }

    &--code {
      position: absolute;
      width: 50vh;

      img {
        margin-top: 4vh;
      }
    }

  }

  &__img {
    filter: drop-shadow(0 7px 7px rgba($color-blue-dark,.7));
  }

}