.laptop {

  &__box {
    display: flex;
    justify-content: center;
    width: 76%;
    height: 70em;
    margin: 0 auto;
    padding-top: 18em;
    position: relative;
    z-index: 10;
    font-size: 1vh;

    @include tab-port {
      font-size: .9vw;
    }

    @include phone-land {
      font-size: 1vw;
    }
  }

  &__prlx {
    transform: translate(var(--tx), var(--ty));
    opacity: var(--opacity);
    will-change: transform, opacity;
    transition: all .1s;

    &--device {
      position: relative;
      width: 75em;
    }

    &--code {
      position: absolute;
      width: 50em;

      img {
        margin-top: 4em;
      }
    }

  }

  &__img {
    filter: drop-shadow(0 7px 7px rgba($color-blue-dark,.7));
  }

}