.laptop {

  &__box {
    display: flex;
    justify-content: center;
    width: 50vw;
    height: 50vw;
    margin: 0 auto;
    padding-top: 14vw;
    position: relative;
    z-index: 10;
  }

  &__prlx {
    transform: translate(var(--tx), var(--ty));
    opacity: var(--opacity);
    will-change: transform, opacity;
    transition: all .1s;

    &--device {
      position: relative;
    }

    &--code {
      position: absolute;
      width: 33vw;
    }
    
    &:last-of-type img {
      margin-top: 2.8vw;
    }
  }

  &__img {
    filter: drop-shadow(0 7px 7px rgba($color-blue-dark,.7));
  }

}