.nav {
  position: fixed;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  color: $color-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  z-index: 50;

  &__link {
    display: flex;
    justify-content: flex-end;
    color: inherit;
    position: relative;
    padding: 1rem 3.6rem;
    text-align: right;
    line-height: 1;
    text-transform: uppercase;

    &-letter {
      display: inline-block;
      max-width: 0;
      overflow: hidden;
      text-align: center;
      letter-spacing: 1px;
      opacity: .6;
      animation: menu-letter-out .3s;
      transition: opacity .2s;

      &:first-child {
        animation: none;
        max-width: 100%;
      }
    }

    &:hover &-letter {
      opacity: 1;
      animation: menu-letter-in steps(2) 50ms forwards;

      &:nth-child(1) {
        animation: none;
      }

      &:nth-child(2) {
        animation-delay: .1s;
      }

      &:nth-child(3) {
        animation-delay: .15s;
      }

      &:nth-child(4) {
        animation-delay: .2s;
      }

      &:nth-child(5) {
        animation-delay: .25s;
      }

      &:nth-child(6) {
        animation-delay: .3s;
      }

      &:nth-child(7) {
        animation-delay: .35s;
      }

      &:nth-child(8) {
        animation-delay: .4s;
      }
    }

    &::after {
      content: '';
      display: block;
      position: absolute;
      top: 50%;
      right: 0;
      height: 1px;
      width: 5.4rem;
      transition: all .3s ease-in-out;
      background: currentColor;
      transform-origin: right center;
      transform: scaleX(0);

      @include phone-port-sm {
        width: 3.2rem;
      }
    }

    &.active {
      font-weight: bold;

      &::after {
        transform: scaleX(1);
      }

      &:focus::after, 
      &:hover::after {
        transform: scaleX(0);
      }

      .nav__link-letter {
        opacity: 1;
      }
    }

    @include phone-port-sm {
      padding: .8rem 1.5rem;
    }
  }
}