@keyframes float {
	0% {
		transform: translatey(.1em);
	}
	50% {
		transform: translatey(-.3em);
	}
  100% {
		transform: translatey(.1em);
	}
}

@keyframes menu-letter-in {
	0% {
		max-width: 100%;
		background: $color-white;
	}
	100% {
		max-width: 100%;
		background: transparent;
	}
}

@keyframes menu-letter-out {
	0% {
    	max-width: 100%;
	}
	100% {
    	max-width: 0%;
	}
}
