*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

::selection {
  background: $color-green;
  color: $color-white;
}
::-moz-selection {
  background: $color-green;
  color: $color-white;
}

a {
  cursor: pointer;
  color: inherit;
  
  &:link,
  &:visited {
    text-decoration: none;
  }
}

img {
  display: block;
  width: 100%;
}

ul {
  list-style: none;
}