@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:600|Encode+Sans:100,200,300,700');

body {
  font-family: 'Encode Sans', sans-serif;
  font-weight: 200;
  font-size: 1.6rem;
  line-height: $base-line-height;
}

section,
footer {
  font-size: 2vw;

  @include desk-lg-up {
    font-size: 3.4vh;
  }

  @include desk-down {
    font-size: 1.8em; 
  }

  @include laptop {
    font-size: 1.6em; 
  }

  @include tab-port {
    font-size: 1.4em; 
  }

  @include phone-port {
    font-size: 1.2em; 
  }

  @include phone-port-sm {
    font-size: 1em; 
  }

  @include phone-port-xs {
    font-size: .8em; 
  }
}

p {
  font-size: 1em;
}

h3 {
  font-size: 1.6em;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 600;
}

nav {
  font-size: 1.1vw;

  @include desk-lg-up {
    font-size: 1.9vh;
  }

  @include desk-down {
    font-size: 1em; 
  }

  @include phone-port-sm {
    font-size: .8em; 
  }
}

.intro {
  font-size: 2.3vw;

  @include desk-lg-up {
    font-size: 3.8vh;
  }

  @include desk-down {
    font-size: 1.8em; 
  }

  @include laptop {
    font-size: 1.6em; 
  }

  @include tab-port {
    font-size: 1.4em; 
  }

  @include phone-port {
    font-size: 1.3em;
  }
  
  @include phone-port-sm {
    font-size: 1.2em;
  }

  @include phone-port-xs {
    font-size: 1.05em;
  }

  &__header {
    font-size: .85em;
    line-height: $base-line-height * .9;

    &--name {
      font-size: 4.1em;
    }
  }
}

.contact {
  &__paragraph {
    &--copyright {
      font-size: .6em;
    }
  }
}

.social {
  font-size: .6em;

  @include tab-port {
    font-size: .7em; 
  }

  @include phone-port {
    font-size: .8em;
  }
}