@import url('https://fonts.googleapis.com/css?family=Encode+Sans+Semi+Condensed:100,200,300,400,500,600,700,800,900|Encode+Sans:100,200,300,400,500,600,700,800,900');

body {
  font-family: 'Encode Sans', sans-serif;
  font-weight: 200;
  font-size: $base-font-size;
  line-height: $base-line-height;
}

section,
footer {
  font-size: 2vw;
}

p {
  font-size: 1em;
}

h3 {
  font-size: 1.6em;
  font-family: 'Encode Sans Semi Condensed', sans-serif;
  font-weight: 600;
}

.intro {

  &__header {
    font-weight: inherit;
    font-size: 1em;
    line-height: $base-line-height * .95;


    &-name {
      font-family: 'Encode Sans Semi Condensed', sans-serif;
      font-size: 4em;
      text-transform: capitalize;
      font-weight: 400;
    }
  }
}

.contact {
  &__paragraph {
    &--copyright {
      font-size: .6em;
    }
  }
}