// MORPHING SVG COLORS
$path-fill-1: url(#gradient1);
$path-fill-2: url(#gradient2);
$path-fill-3: url(#gradient3);

// COLORS
$color-white: #FFF7FE;
$color-black: #131920;
$color-green: #4AFFBF;
$color-green-2: #00d69c;
$color-yellow: #FFBA38;
$color-pink: #FEBFFA;

// GRADIENTS
$color-blue-dark: #1904E5;

$colorgrad-blue: #0060FF;
$colorgrad-pink: #D200CF;
$colorgrad-green: #3EEDD0;
$colorgrad-bluedark: #005DF7;

// FONTS
$base-line-height: 1.6;