// MORPHING SVG COLORS
$path-fill-1: url(#gradient1);
$path-fill-2: url(#gradient2);
$path-fill-3: url(#gradient3);

// COLORS
$color-white: #FFF7FE;
$color-black: #131920;
$color-green: #4AFFBF;
$color-green-2: #00d69c;

// GRADIENTS
$color-blue-dark: #1904E5;
$color-purple-darker: #3f2799;
$color-purple-lighter: #4e30b0;
$color-pink: #8f3daf;

$colorgrad-blue: #0060FF;
$colorgrad-pink: #D200CF;
$colorgrad-green: #3EEDD0;
$colorgrad-bluedark: #005DF7;

// $colorgrad-blue: #8b5cdd;
// $colorgrad-pink: #E952BD;
// $colorgrad-green: #3EEDD0;
// $colorgrad-bluedark: #8759D6;

// $colorgrad-blue: #00d293;
// $colorgrad-pink: #0092E8;
// $colorgrad-green: #00C8FF;
// $colorgrad-bluedark: #00CC8F;

// FONTS
$base-font-size: 1.6rem;
$base-line-height: 1.6;