.about {
  background-color: $colorgrad-blue;
  color: $color-white;
  padding: 11em 12vw 5em;
  text-align: center;

  &__content {
    opacity: var(--opacity);
    transform: translateY(var(--ty));
    will-change: opacity, transform;
    transition: all .1s;
    margin-bottom: 5em;
  }

  &__paragraph {
    color: rgba($color-white, .7);
  }
}