.cube {
  min-height: 100vh;
  background: rgb(143,61,175);
  background: radial-gradient(circle, $color-pink 0%, $color-purple-lighter 30%, $color-purple-darker 60%, $color-blue-dark 100%);
  color: $color-white;

  white-space: pre-wrap;

  &__prlx {
    width: 60vh;
    margin: 0 auto;
  }
}