.cube {
  // min-height: 100vh;
  background: rgb(143,61,175);
  background: radial-gradient(circle, $color-pink 0%, $color-purple-lighter 30%, $color-purple-darker 60%, $color-blue-dark 100%);
  color: $color-white;
  padding: 10vw;

  &__prlx {
    width: 60vh;
    //width: 40vw;
    //width: 500px;
    margin: 0 auto;
    position: relative;

    &-img {
      -webkit-filter: drop-shadow(0 12px 7px rgba(30,14,94,.7));      
      filter: drop-shadow(0 12px 7px rgba(30,14,94,.7)); 
    }

    &--pink {
      //transform: translate3d(0, 0, 0);
       z-index: 3;
    }

    &--fandango {
      //transform: translate3d(0, -70%, 0);
      margin-top: -28.2%;
      z-index: 2;
    }

    &--grape {
      //transform: translate3d(0, -140%, 0);
      margin-top: -28.2%;
      z-index: 1;
    }
  }
}
