.interest {
  background: $colorgrad-bluedark;
  color: $color-white;
  padding: 5em 25vw;
  min-height: 90vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  @include tab-port {
    padding: 5em 20vw;
  }

  @include phone-land {
    padding: 5em 15vw;
  }

  @include phone-port {
    padding: 5em 12vw;
    min-height: 80vh;
  }

  &__content {
    opacity: var(--opacity);
    transform: translateY(var(--ty));
    will-change: opacity, transform;
    transition: all .1s;
  }

  &__title {
    text-align: center;
    margin: 0 auto 1.2em;

    &--recentwork {
      opacity: var(--opacity);
      transform: translateY(var(--ty));
      will-change: opacity, transform;
      transition: all .1s;
    }
  }

  &__link {
    display: inline-block;
    position: relative;
    line-height: 1;
    padding: .05em .55em .15em;

    &::after {
      content: '';
      display: block;
      position: absolute;
      width: 100%;
      transform: scaleX(.025);
      transform-origin: 0%;
      height: 100%;
      transition: all 700ms cubic-bezier(0.51, 0.04, 0.12, 0.99);
      top: 0;
      left: 0;
      background-color: $color-yellow;
      background-color: $color-green-2;
      z-index: -1;
    }

    &:hover::after {
      transform: scaleX(1);
    }
  }

  &__list {
    margin: 0 auto 4em;
    text-align: center;

    &-item {
      color: rgba($color-white, .7);
    }
  }
}