.interest {
  background-color: $color-blue-dark;
  background-color: #1B0D56;
  background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);
  background: $colorgrad-bluedark;
  color: $color-white;
  padding: 5em 25vw;
  min-height: 90vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;

  @include tab-port {
    padding: 5em 20vw;
  }

  @include phone-land {
    padding: 5em 15vw;
  }

  @include phone-port {
    padding: 5em 12vw;
    min-height: 80vh;
  }

  &__content {
    opacity: var(--opacity);
    transform: translateY(var(--ty));
    will-change: opacity, transform;
    transition: all .1s;
  }

  &__title {
    text-align: center;
    margin: 0 auto 1.2em;

    &--recentwork {
      opacity: var(--opacity);
      transform: translateY(var(--ty));
      will-change: opacity, transform;
      transition: all .1s;
    }
  }

  &__list {
    margin: 0 auto 4em;
    text-align: center;

    &-item {
      color: rgba($color-white, .7);
    }
  }
}