.intro {
  height: 100vh;
  background: $colorgrad-blue;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    text-align: center;
    align-self: stretch;
    display: flex;
    justify-content: flex-end;
    flex-flow: column wrap;
    overflow: hidden;
  }

  &__header {
    margin: auto;
    font-weight: 100;
    text-transform: uppercase;

    &--name {
      display: block;
      font-weight: 500;
      text-transform: capitalize;
    }
  }

  &__scroll {

    padding: 4vh 0 0;

    @include phone-port {
      padding: 5vh 0 0;
    }
    
    @include phone-port-sm {
      padding: 6vh 0 0;
    }
  
    @include phone-port-xs {
      padding: 7vh 0 0;
    }

    &-btn {
      width: 1em;
      height: 1.8em;
      border: 1px solid $color-white;
      border-radius: .5em;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 3em;
    }

    &-bar {
      display: block;
      height: .65em;
      width: 2px;
      border-radius: 2px;
      background: $color-white;
      animation: float 4s ease-in-out infinite;
    }
  }
  
}