.intro {
  height: 100vh;
  background: $color-blue-dark;
  background-image: radial-gradient(farthest-side at 0 0,rgba(255,26,198,.3),rgba(255,26,198,0)),radial-gradient(farthest-side at 100% 0,rgba(60,221,221,.4),rgba(60,221,221,0)),radial-gradient(farthest-side at 50% 0,rgba(255,26,198,.1),rgba(255,26,198,0));
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    text-align: center;
    align-self: stretch;
    display: flex;
    justify-content: flex-end;
    flex-flow: column wrap;
    overflow: hidden;
  }

  &__header {
    margin: auto;
    font-weight: 100;

    &-name {
      display: block;
      text-shadow: 0 0 2rem rgba($color-blue-dark, .6);
    }

    &--designation {
      font-weight: 500;
    }
  }

  &__scroll {

    &-btn {
      width: 1em;
      height: 1.8em;
      border: 1px solid $color-white;
      border-radius: .5em;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 5rem;
    }

    &-bar {
      display: block;
      height: .65em;
      width: 2px;
      background: $color-white;
      box-shadow: 1px 2px 3px rgba($color-blue-dark, .7);
      animation: float 4s ease-in-out infinite;
    }
  }
  
}