.intro {
  height: 100vh;
  background: $colorgrad-blue;
  color: $color-white;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    text-align: center;
    align-self: stretch;
    display: flex;
    justify-content: flex-end;
    flex-flow: column wrap;
    overflow: hidden;
  }

  &__header {
    margin: auto;
    font-weight: 100;
    text-transform: uppercase;

    &--name {
      display: block;
      font-weight: 500;
      text-transform: capitalize;
      text-shadow: 0 2px 4px rgba($color-blue-dark,.65);
    }
  }

  &__scroll {

    &-btn {
      width: 1em;
      height: 1.8em;
      border: 1px solid $color-white;
      border-radius: .5em;
      display: flex;
      align-items: center;
      justify-content: center;
      margin: 0 auto 2.5em;
    }

    &-bar {
      display: block;
      height: .65em;
      width: 2px;
      background: $color-white;
      box-shadow: 1px 2px 3px rgba($color-blue-dark, .7);
      animation: float 4s ease-in-out infinite;
    }
  }
  
}