.work {
  background: $color-blue-dark;
  background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);
  background: $colorgrad-blue;
  color: $color-white;
  overflow: hidden;

  &__content {
    padding: 10vw 25vw 0;
  }

  &__title {
    text-align: center;
    margin: 0 auto 1.2em;
  }

  &__paragraph {
    text-align: center;
    color: rgba($color-white, .7);

    &--linebreak {
      display: block;
    }
  }

  &__triangle {
    position: relative;

    &-img {
      display: block;
      height: 30vw;
      width: 100%;
      position: absolute;
      bottom: 0;
      fill: #1B0D56;
      fill: $colorgrad-bluedark;
      transition: transform 0.9s cubic-bezier(.52,.01,.16,1);
    }
  }
}