.work {
  background: $color-blue-dark;
  background-image: linear-gradient( 135deg, #6B73FF 10%, #000DFF 100%);
  background: $colorgrad-blue;
  color: $color-white;
  overflow: hidden;

  &__content {
    padding: 5em 12vw 0;
    opacity: var(--opacity);
    transform: translateY(var(--ty));
    will-change: opacity, transform;
    transition: all .1s;
  }

  &__title {
    text-align: center;
    margin: 0 auto 1.2em;
  }

  &__paragraph {
    text-align: center;
    color: rgba($color-white, .7);

    &--linebreak {
      display: block;
    }
  }

  &__triangle {
    position: relative;
    font-size: 1vh;
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    bottom: 21em;
    pointer-events: none;

    &-item {
      display: block;
      width: 300vw;
      height: 300vw;
      margin-left: -150vw;
      will-change: transform;
      transform: rotate(var(--r));
      position: absolute;
      top: 0;
      transition: transform 0.9s cubic-bezier(.52,.01,.16,1);
      background-color: $colorgrad-bluedark;
    }

    @include tab-port {
      font-size: .9vw;
    }

    @include phone-land {
      font-size: 1vw;
    }

  }
}