<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Portfolio of Tatiana Uspenskaia, a front end developer from Toronto</title>
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.main.css %>">
</head>
<body>

  <h1 class="u-hidden">Portfolio of Tatiana Uspenskaia, a front end developer from Toronto</h1>

  <nav class="nav">
    <ul class="nav__list">
      <li class="nav__list-item"><a class="nav__link" href="">H</a></li>
      <li class="nav__list-item"><a class="nav__link" href="">A</a></li>
      <li class="nav__list-item"><a class="nav__link" href="">W</a></li>
      <li class="nav__list-item"><a class="nav__link" href="">C</a></li>
    </ul>
  </nav>

  <section class="section intro" id="intro">
    <div class="intro__content">
      <h2 class="intro__header">
        Hi, my name is 
        <span class="intro__header-name">Tatiana</span> 
        a Front End Developer 
      </h2>
      <div class="intro__scroll">
        <a href="#cube" class="intro__scroll-btn"><span class="intro__scroll-bar"></span></a>
      </div>
      <div class="intro__cube">
        <img src="<%= require('./img/cube-green.svg') %>" class="intro__cube-img">
      </div>
    </div>
  </section>

  <svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none">
    <defs>
        <linearGradient id="gradient1" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%"   stop-color="#8f3daf"/>
          <stop offset="40%" stop-color="#4e30b0"/>
          <stop offset="60%" stop-color="#3f2799"/>
          <stop offset="100%" stop-color="#3f2799"/>
        </linearGradient>
        <linearGradient id="gradient2" x1="0%" y1="0%" x2="0%" y2="100%">
            <stop offset="0%"   stop-color="#4AFFBF"/>
            <stop offset="100%" stop-color="#ff0ea1"/>
          </linearGradient>
        <linearGradient id="gradient3" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%"   stop-color="#1e0e5e"/>
          <stop offset="40%" stop-color="#3f2799"/>
          <stop offset="60%"   stop-color="#4e30b0"/>
          <stop offset="100%" stop-color="#8f3daf"/>
        </linearGradient>
      </defs>
    <path class="shape-overlays__path shape-overlays__path--first"></path>
    <path class="shape-overlays__path shape-overlays__path--second"></path>
    <path class="shape-overlays__path shape-overlays__path--third"></path>
  </svg>


  <section class="cube" id="cube">
    <div class="cube__anchor"></div>
    
    <div class="cube__box">
      <div class="cube__prlx cube__prlx--pink" data-ty="20">
        <img src="<%= require('./img/cube-green.svg') %>" class="cube__prlx-img">
      </div>
      <div class="cube__prlx cube__prlx--fandango" data-ty="80">
        <img src="<%= require('./img/cube-fandango.svg') %>" class="cube__prlx-img">
      </div>
      <div class="cube__prlx cube__prlx--grape" data-ty="140">
        <img src="<%= require('./img/cube-grape.svg') %>" class="cube__prlx-img">
      </div>
    </div>

    <p class="cube__paragraph">I have a serious passion for building</p>
    <h3 class="cube__title">beautiful digital experiences</h3>
  </section>

  <!-- <svg class="shape-overlays" viewBox="0 0 100 100" preserveAspectRatio="none">
    <defs>
        <linearGradient id="gradient1" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%"   stop-color="#00c99b"/>
          <stop offset="100%" stop-color="#ff0ea1"/>
        </linearGradient>
        <linearGradient id="gradient2" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%"   stop-color="#ffd392"/>
          <stop offset="100%" stop-color="#ff3898"/>
        </linearGradient>
        <linearGradient id="gradient3" x1="0%" y1="0%" x2="0%" y2="100%">
          <stop offset="0%"   stop-color="#2D004C"/>
          <stop offset="100%" stop-color="#140049"/>
        </linearGradient>
      </defs>
    <path class="shape-overlays__path shape-overlays__path--first"></path>
    <path class="shape-overlays__path shape-overlays__path--second"></path>
    <path class="shape-overlays__path shape-overlays__path--third"></path>
  </svg> -->

  <section class="work" id="work">
    <h3 class="work__title">how I work</h3>
    <p class="work__paragraph">Reaching high standards of code quality through progressive development methodologies is my highest priority</p>

    <div class="laptop__anchor"></div>
    <div class="laptop__box">
      <div class="laptop__prlx laptop__prlx--device" data-tx="-33" data-ty="-14">
        <img src="<%= require('./img/laptop.svg') %>" alt="" class="laptop__img">
      </div>
      <div class="laptop__prlx laptop__prlx--code" data-tx="33" data-ty="-14">
        <img src="<%= require('./img/laptop-code.svg') %>" alt="" class="laptop__img">
      </div>
    </div>

    <h3 class="work__title">what interests me</h3>
    <ul class="work__list">
      <li class="work__list-item">Designing and developing structural code</li>
      <li class="work__list-item">Working with cutting-edge technologies</li>
      <li class="work__list-item">Building responsive cross browser layouts that work on any device</li>
    </ul>

    <h3 class="work__title"><a href="https://timsop.in/" target="_blank">recent work</a></h3>
  </section>

  <footer class="contact">
    <h3 class="contact__title">get in touch</h3>
    <ul class="contact__list social">
      <li class="contact__list-item social__item">
        <a href="mailto:tanyauspenskaya@gmail.com" class="social__link social__link--email"></a>
      </li>
      <li class="contact__list-item social__item">
        <a href="https://www.linkedin.com/in/tatianauspenskaia/" class="social__link social__link--linkedin" target="_blank"></a>
      </li>
      <li class="contact__list-item social__item">
        <a href="https://github.com/tanyauspenskaya" class="social__link social__link--github" target="_blank"></a>
      </li>
    </ul>
    <p class="contact__paragraph contact__paragraph--copyright">© 2018 Tatiana Uspenskaia | Totonto, Ontario</p>
  </footer>
  
  <script src="<%= htmlWebpackPlugin.files.chunks.main.entry %>"></script>
</body>
</html>